@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-quiz{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background-color: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 50px;
    
}

.container-quiz hr{
    height: 2px;
    border: none;
    background: #707070;
}

.container-quiz h2{
    font-size: 27px;
    font-weight: 500;
}

.container-quiz h1{
    text-align: center;

}

.container-quiz ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;

}

.container-quiz button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #69275c;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;

}

.container-quiz .index{
    margin: auto;
    font-size: 18px;

}

.container-quiz .correct{
    background: #dffff2;
    border-color: #00d397;
}

.container-quiz .wrong{
    background: #FFEBEB;
    border-color: #FF4A4A;
}